body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #f589f1, #69b8e2);
    color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #0b1220;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar h2 {
    margin: 0;
}

.nav-links a,
.nav-links button {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links button:hover {
    color: #38bdf8;
}
.booking-form {
    background: #1e293b;
    padding: 30px;
    border-radius: 14px;
    width: 380%;
    max-width: 420px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column !important;
    gap: 15px;
}
.booking-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
.booking-form label {
    margin-top: 12px;
    font-size: 14px;
    color: #cbd5e1;
    writing-mode: horizontal-tb !important;
}
.booking-form input,
.booking-form select { 
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #334155;
    border-radius: 10px;
    background: #0f172a;
    color: white;
    outline: none;
    font-size: 14px;
}
.booking-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    

}
.booking-form button {
     margin-top: 10px;
    padding: 14px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(135deg, #06b6d4, #3b82f6);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.booking-form button:hover {
 
    transform: translateY(-2px);
    box-shadow: 0 6px 50px rgba(0,0,0,0.3);
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup.hidden {
    display: none;
}
.popup-box {
    background: linear-gradient(145deg,#1e293b,#0f172a);
    padding: 30px 35px;
    border-radius: 15px;
    text-align: center;
    width: 320px;
    box-shadow: 0 0px 25px rgba(0,255,200,0.4);
    animation: popupAnim 0.5s ease-in-out;

}
.popup-box h3 {
    color: #22c55e;
    margin-bottom: 10px;
    font-size: 22px;
}
.popup-box p {
    color: #cbd5e1;
    font-size: 14px;
    margin-bottom: 20px;

}
.popup-box button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: #ef4444;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}
.popup-box button:hover {
    background: #dc2626;
    box-shadow: 0 0 15px #ef4444;
    transform: scale(1.05);

}
@keyframes popupAnim {
    from {opacity: 0; transform: scale(0.8);}

    to {opacity: 1; transform: scale(1);}
}
.booking-title {
    text-align: center;
    color: #ecebe9;
    font-size: 26px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 15px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) sepia(1) grayscale(1) brightness(0.8);
    cursor: pointer;
}
input[type="date"]{
    color: white;
    background: #0f172a;
    border: 1px solid #1e293b;
    padding: 12px;
    border-radius: 8px;
}